body {
  font-family: "Helvetica" Helvetica sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: cursive;
  font-size: 24px;
  font-style: bold;
}

.image p{
  /*formating for image credits*/
  font-variant: small-caps;
  margin: 0px;
  font-size: small;
}
/*
x Different font for h1
style image credits as class
padding and border on images
background image on results page
center body
center images w/in body
different color for visited links
move top image to left and right rail. add margin
change formating for footer
style contest entry list
rip all styling out of html, replace in css

Padding and border added to at least one element
Margin added to at least one element
At least one centered element (a footer message can be nice for this)
A background image on at least one element
A different font on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID
*/