/* all pages */

body {
  font-family: "Helvetica" Helvetica sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: cursive;
  font-size: 32px;
  font-style: bold;
}

.image p{
  /*formating for image credits*/
  font-variant: small-caps;
  margin: 0px;
  font-size: small;
}

/* homepage */

#index-main {
  width: 70%;
  margin-right:auto;
  margin-left:auto;
  position:inline-block;
 
}

.background-image-license {
  background:white;
  height:18px;
  text-align: center;
}

[id^="background"] {
  width: 14%;
  min-width: 125px;
  padding-bottom:100%;
  height:100%;
  background-image: url("images/bread-food-salad-sandwich.jpg");
  background-repeat: repeat-y;
  position:inline-block;
  background-size:100%,auto;
  background-position: 0px 18px;
}

#background-left { 
  float:left;
}

#background-right {
  float:right;
} 

/*div[#^="background"] {
  width: 10%;
  height: 100%;
  background-image: url("images/bread-food-salad-sandwich.jpg");
  background-repeat: repeat-y;
}

/* results page */

#contest-results {
  margin:0px auto 0px auto;
}

#contest-results-image{
  border: 1px solid white; /* Don't understand why i can't remove this border without messing things up*/
  margin:0px;
  padding:0px;
  position: relative;
 }

#contest-results-image img{
  position: absolute;
  top:14px;
  left:0;
  width: 100%;
  height: auto;
  opacity: .5;
}

#contest-results-text {
  text-shadow: 4px 4px 10px grey;
  padding: 0% 0% 100% 0%;
  margin:0px 5px 0px 5px;
}

#icecream-credits {
  float: right;
  margin: 0px 4px;
}

/*
x Different font for h1
x style image credits as class
padding and border on images
x background image on results page
x center body
center images w/in body
different color for visited links
x move top image to left and right rail. 
x   add margin. fix credits (vertical?). fixed position for div?
change formating for footer
style contest entry list
rip all styling out of html, replace in css

Padding and border added to at least one element
Margin added to at least one element
At least one centered element (a footer message can be nice for this)
A background image on at least one element
A different font on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID
*/
